:root {
    --layer-color: rgba(20, 20, 20, 0.6);
    --card-color: rgb(23, 23, 23);
    --shadow-color: rgb(38, 149, 212);
    --firefly-color: rgba(0, 255, 0, 0.9);
    --glowing-duration: 1.4s;
    --gap: 8px;
    --card-height: 150px;
    --group-name-height: 50px;
}

.nav {
    height: 54px;
    width: 100%;
    background-color: var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
}

.nav__link {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.nav__img {
    width: 50px;
    height: 100%;
    border-radius: 9999%;
}

.wrap__option {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

.btn__option {
    width: 250px;
    height: 250px;
    background-color: var(--shadow-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    text-shadow: 0 0 10px rgb(219, 219, 102);
    font-family: 'Neonderthaw', cursive;
    color: yellow;
}

.btn__option:hover {
    transform: scale(0.9);
    transition: all linear 0.3s;
}

.container-board {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 54px);
    overflow: hidden;
    position: relative;
}
.group-name {
    width: 100%;
    height: var(--group-name-height);
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.main,
.game {
    background: url(../images/nightmoon.jpg) no-repeat;
    background-position: 71%;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 54px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
    overflow: hidden;
    position: relative;
    padding-top: 30px;
}
.main::after,
.game::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--layer-color);
    z-index: 1;
}

.replay {
    width: 150px;
    height: 70px;
    font-size: 30px;
    border-radius: 20px;
    background-color: var(--shadow-color);
    text-shadow: 0 0 10px rgb(219, 219, 102);
    font-family: 'Neonderthaw', cursive;
    color: yellow;
    z-index: 3;
    position: fixed;
    cursor: pointer;
}

.replay:hover {
    transform: scale(0.9);
    transition: all linear 0.3s;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--gap);
    position: relative;
    z-index: 3;
}

#board.disable {
    z-index: 0;
}

#board:hover > .card::after {
    opacity: 1;
}
.locateShadow {
    animation: locateShadow 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
        alternate;
}
@keyframes locateShadow {
    0% {
        box-shadow: 0 0 15px var(--shadow-color);
    }
    100% {
        box-shadow: 0 0 35px #00ff37;
    }
}
.movingShadow {
    animation: movingShadow 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
@keyframes movingShadow {
    0% {
        box-shadow: 0 0 15px var(--shadow-color);
    }
    100% {
        box-shadow: 0 0 35px #ff0;
    }
}
.card {
    position: relative;
    background-color: var(--card-color);
    border-radius: 10px;
    height: var(--card-height);
    width: var(--card-height);
    box-shadow: 0 0 30px var(--shadow-color);
}
.choosing-state {
    box-shadow: 0 0 30px #ffff00;
}
.card:hover::before {
    opacity: 1;
}
.card::before,
.card::after {
    border-radius: inherit;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 500ms;
}
.card::before {
    background: radial-gradient(
        300px circle at var(--mouse-x) var(--mouse-y),
        rgba(238, 4, 199, 0.09),
        transparent 40%
    );
    z-index: 3;
}
.card::after {
    background: radial-gradient(
        225px circle at var(--mouse-x) var(--mouse-y),
        rgba(238, 4, 199, 0.5),
        transparent 40%
    );
    z-index: 1;
}
.big-card,
.card:nth-child(12),
.card:nth-child(1) {
    cursor: default;
    grid-row: 1 / span 2;
    height: calc(var(--card-height) * 2 + 8px);
    width: calc(var(--card-height) + 4px);
    position: relative;
}
.big-card .card-content,
.card:nth-child(12) .card-content,
.card:nth-child(1) .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.big-card .UFO svg,
.card:nth-child(12) .UFO svg,
.card:nth-child(1) .UFO svg {
    width: 95%;
    height: 100%;
    filter: drop-shadow(0 0 10px var(--shadow-color));
}
.big-card .UFO .ufo__point,
.card:nth-child(12) .UFO .ufo__point,
.card:nth-child(1) .UFO .ufo__point {
    font-size: 32px;
    text-shadow: 0 0 10px #ff0;
    font-family: 'Neonderthaw', cursive;
    color: #c7edf8;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.card:nth-child(1) {
    border-radius: calc(var(--card-height) * 2 + 8px) 19px 19px
        calc(var(--card-height) * 2 + 8px);
    z-index: 2;
}
.card:nth-child(12) {
    border-radius: 19px calc(var(--card-height) * 2 + 8px)
        calc(var(--card-height) * 2 + 8px) 19px;
    grid-column: 7 / span 8;
    z-index: 0;
}
.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    inset: 2px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    text-align: center;
}
.new-moon .moon {
    animation: none;
    background-color: #728a91;
    box-shadow: 0 0 4px #c7edf8, inset -0.5px -0.5px #7598a3;
}
.new-moon .moon .craters {
    background-color: #7598a3;
    box-shadow: inset -0.4px -0.4px #5c7e89;
}
.new-moon .moon .craters:after,
.new-moon .moon .craters:before {
    background-color: #7598a3;
    box-shadow: inset -5px -5px #5c7e89;
}
.not-allowed {
    cursor: not-allowed;
}
.move-right {
    animation: move-right 0.7s ease-in-out !important;
}
.move-left {
    animation: move-left 0.7s ease-in-out !important;
}
@keyframes move-right {
    0% {
        background-color: rgba(199, 237, 248, 0.8);
        transform: translateX(-16px) scale(1);
    }
    50% {
        background-color: rgba(199, 237, 248, 0.5);
        transform: translateX(-8px) scale(0.3);
    }
    100% {
        background-color: rgb(199, 237, 248);
        transform: scale(1) translateX(0px);
    }
}
@keyframes move-left {
    0% {
        background-color: rgba(199, 237, 248, 0.8);
        transform: translateX(16px) scale(1);
    }
    50% {
        background-color: rgba(199, 237, 248, 0.5);
        transform: translateX(8px) scale(0.3);
    }
    100% {
        background-color: rgb(199, 237, 248);
        transform: scale(1) translateX(0px);
    }
}
@keyframes currentPlayer {
    0% {
        box-shadow: 0 0 1px #c7edf8, inset -0.5px -0.5px #b0e3f4;
    }
    100% {
        box-shadow: 0 0 7px #c7edf8, inset -0.5px -0.5px #b0e3f4;
    }
}
.moon {
    position: relative;
    background-color: #c7edf8;
    box-shadow: 0 0 7px #c7edf8, inset -0.5px -0.5px #b0e3f4;
    margin: 0 3%;
    margin-bottom: 10px;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    animation: currentPlayer 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
    transition: all 700ms;
    z-index: 1;
}
.moon .craters {
    position: absolute;
    width: 3.2px;
    height: 3.2px;
    border-radius: 50%;
    background-color: #b0e3f4;
    left: 20%;
    top: 20%;
    box-shadow: inset -0.4px -0.4px #83d3ee;
}
.moon .craters::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #b0e3f4;
    box-shadow: inset -5px -5px #83d3ee;
    left: -30%;
    top: 200%;
}
.moon .craters::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #b0e3f4;
    box-shadow: inset -5px -5px #83d3ee;
    left: 230%;
    top: 125%;
}
@keyframes textGlow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 25px #e60073;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073;
    }
}
.arrow {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    color: #c7edf8;
    animation: textGlow 1s ease-in-out infinite alternate;
}
@keyframes glowing--delay_10s_2208305038 {
    0% {
        transform: scale(0);
    }
    8.333% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0.5px);
    }
    16.667% {
        filter: blur(0px);
        transform: scale(0);
    }
    100% {
        filter: blur(0px);
        transform: scale(0);
    }
}
@keyframes glowing--delay_14s_3055831734 {
    0% {
        transform: scale(0);
    }
    6.25% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0.5px);
    }
    12.5% {
        filter: blur(0px);
        transform: scale(0);
    }
    100% {
        filter: blur(0px);
        transform: scale(0);
    }
}
@keyframes glowing--delay_6s_2740976046 {
    0% {
        transform: scale(0);
    }
    12.5% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0.5px);
    }
    25% {
        filter: blur(0px);
        transform: scale(0);
    }
    100% {
        filter: blur(0px);
        transform: scale(0);
    }
}
@keyframes glowing--delay_2s_2319318062 {
    0% {
        transform: scale(0);
    }
    25% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0.5px);
    }
    50% {
        filter: blur(0px);
        transform: scale(0);
    }
    100% {
        filter: blur(0px);
        transform: scale(0);
    }
}
.sparkle {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 100%;
    z-index: 2;
}
.fire-flies div {
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.9) 1%,
        rgba(0, 255, 0, 0.9) 7%,
        rgba(0, 255, 0, 0.8) 29%,
        rgba(0, 255, 0, 0.5) 38%,
        rgba(0, 255, 0, 0.2) 35%
    );
    opacity: 0;
}
.fire-flies div:nth-child(1) {
    top: 64%;
    left: 44%;
    animation: glowing--delay_2s_2319318062 4s
        cubic-bezier(0.18, 0.65, 0.7, 1.05) infinite;
}
.fire-flies div:nth-child(2) {
    top: 75%;
    left: 56%;
    animation: glowing--delay_6s_2740976046 8s
        cubic-bezier(0.18, 0.65, 0.7, 1.05) infinite;
}
.fire-flies div:nth-child(3) {
    top: 77%;
    left: 28%;
    animation: glowing--delay_14s_3055831734 16s
        cubic-bezier(0.18, 0.65, 0.7, 1.05) infinite;
}
.fire-flies div:nth-child(4) {
    top: 96%;
    left: 35%;
    animation: glowing--delay_14s_3055831734 16s
        cubic-bezier(0.18, 0.65, 0.7, 1.05) infinite;
}
.fire-flies div:nth-child(7) {
    top: 62%;
    left: 12%;
    animation: glowing--delay_2s_2319318062 4s
        cubic-bezier(0.18, 0.65, 0.7, 1.05) infinite;
}
.fire-flies div:nth-child(8) {
    top: 62%;
    right: 12%;
    animation: glowing--delay_6s_2740976046 8s
        cubic-bezier(0.18, 0.65, 0.7, 1.05) infinite;
}
.fire-flies div:nth-child(5) {
    top: 96%;
    right: 12%;
    animation: glowing--delay_10s_2208305038 12s
        cubic-bezier(0.18, 0.65, 0.7, 1.05) infinite;
}
.fire-flies div:nth-child(6) {
    top: 78%;
    right: 17%;
    animation: glowing--delay_10s_2208305038 12s
        cubic-bezier(0.18, 0.65, 0.7, 1.05) infinite;
}
.playerState {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    display: flex;
    position: relative;
    z-index: 3;
    top: -50px;
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.playerState .currentPlayer {
    color: #00ff37;
    animation: currentPlayerText 1.4s ease-in infinite;
}
.playerState .point {
    position: relative;
    top: -50px;
    font-size: 65px;
    color: rgb(238, 4, 199);
    text-shadow: 0 0 9px rgb(238, 4, 199);
}
.playerState h1 {
    font-size: 40px;
}
.gameState h3 {
    position: absolute;
    left: 51%;
    font-size: 63px;
    transform: translateX(-50%);
    text-shadow: 0 0 5px #c7edf8;
    color: yellow;
}
.show_winner .playerState {
    display: none;
}
.show_winner .winner_notification {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    display: flex;
    position: relative;
    z-index: 3;
    top: -210px;
}

.winner_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    color: yellow;
    top: 121px;
    column-gap: 63px;
    transform: translateX(-50%);
}

@keyframes currentPlayerText {
    0% {
        text-shadow: 0 0 3px yellow;
    }
    100% {
        text-shadow: 0 0 13px yellow;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: calc(var(--card-height) * 7 + var(--gap) * 6);
    margin: 0 auto;
}

.arrow-right,
.arrow-left {
    width: 100px;
    height: 100px;
    object-fit: cover;
    filter: brightness(0) invert(1);
}
